.post-header {
    border-bottom: 0.5px solid grey;
    margin: 10px 0;
    padding-bottom: 5px;
}

.post-header .post-date {
    font-size: 0.8em;
    color: maroon;
}

.post-header .post-title {
    margin: 5px;
    color: black;
    font-size: x-large;
}

.post-content {
    margin-bottom: 20px;
}

.post-content pre {
    overflow-x: auto;
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
}