{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/index.style.css">
{% endblock %}

{% block main_content %}
    <h3>Recent Posts</h2>

    {% for post in posts %}
    <a class="post-a" href="/{{ post.slug }}.html">
        <div class="post-container">
            <span class="post-date">{{ post.date }}</span>
            <h4 class="post-title">{{ post.title }}</h4>
            <div class="post-excerpt">{{ post.excerpt | safe }}</div>
        </div>
    </a>
    {% endfor %}
{% endblock %}